.pai{
    display: grid;
    grid-template-areas:
        "menu-principal"
        "form-item"
        "container-contatos";
    grid-template-columns: auto;
    grid-template-rows: 7vh 85vh 8vh ;    
}

.menu-principal{
   grid-area: menu-principal;
}
.form-item{
    grid-area: form-item;
}

.container-contatos{
   
    grid-area: container-contatos;
}