*{
    margin: 0;
    
}
/*Parte do menu principal*/

.menu-principal ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    padding: 0 5px;
    
}

.menu-principal ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    width: 15%;
    height: 70%;
    font-size: 1em;
}

.menu-principal ul li a{
    text-decoration: none;
}

/*-------------------------------------------------------------------------------*/

/**/

/*
.container-formulario .codigo .produto{
    margin-top: 10px;
    width: 100px;
}
.container-formulario .quantidade{
    width: 100px;
    margin-top: 10px;
}
.container-formulario .valor{
    width: 100px;
    margin-top: 10px;
}
.container-formulario .desconto{
    width: 100px;
    margin-top: 10px;
}

textarea{
    margin-top: 10px;
}

button{
    margin-top: 10px;
}
*/
/*Icone*/
/*
.fa-angle-double-right{
   margin: 3px;
   font-size: 1em;
}
*/